<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configurações do banco de dados -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/banco_local</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">implementation2255</property>

        <!-- Configurações do Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- alterado de validate para update para ambiente de desenvolvimento -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Timezone de Brasília (UTC-3) -->
        <property name="hibernate.jdbc.time_zone">America/Sao_Paulo</property>

        <!-- Mapeamento das classes para o banco de dados-->
        <mapping class="com.renato.model.Usuario"/>
        <mapping class="com.renato.model.Categoria"/>
        <mapping class="com.renato.model.Noticia"/>
        <mapping class="com.renato.model.Resposta"/>
        <mapping class="com.renato.model.Conquista"/>
        <mapping class="com.renato.model.ConquistaUsuario"/>
        <mapping class="com.renato.model.ProgressoCategoria"/>
        <mapping class="com.renato.model.PecaRecompensa"/>
        <mapping class="com.renato.model.PecaUsuario"/>
    </session-factory>
</hibernate-configuration>